body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c7c7c7
;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.photo {
  height: 70px;
  width: 70px;
}
 .font { 
   font-family: "Copperplate", 
Generic Font Family	Examples of Font Names
Serif	Times New Roman
Georgia
Garamond
Sans-serif	Arial
Verdana
Helvetica
Monospace	Courier New
Lucida Console
Monaco
Cursive	Brush Script MT
Lucida Handwriting
Fantasy;
 }


